.txt_sidebar_name{
    width: 50%;
    height: 33px;
}

.btn-add-sidebar{
    margin-left: 10px;
    text-decoration: none;
    color: #FFF;
}

.table-list-sidebar{
    margin-bottom: 0px;
}

.table-list-sidebar a{
    text-decoration: none;
    color: #FFF;
}